canvas {
	width: 90%;
	height: 80%;
	background: white;
	border-radius: 30%;
	margin-right: 5%;
	margin-left: 5%;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
	font-family: Roboto;
    background-color: black;
}

h2 {
	text-align: center;
	font-weight: normal;
	font-size: smaller;
	color: white;
}

h1 {
	text-align: center;
	font-size: x-large;
	color: white;
}

#author {
	padding: 0;
	margin: 0;
}

